<?xml version="1.0"?>

<model>
  <name>washroom</name>
  <version>1.0</version>
  <sdf version="1.7">washroom_iisc_competition.sdf</sdf>

  <author>
    <name>Shravista Kashyap</name>
    <email>shravistakashyap@gmail.com</email>
  </author>

  <description>
    An environment for the IISc ARTPARK  robotics challenge
  </description>

</model>
